:root {
    /* Exact colors defined in MainWindow.xaml */
    --oven-dark: #1A0505;
    --oven-red: #922B21;
    --pizza-orange: #E67E22;
    --primary-accent: var(--pizza-orange);
    --text-ghost: #BDC3C7;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
